/* Reset */
* {
	/* Alternative box model for everything */
	box-sizing: border-box;

	/* Reset padding and margin on all elements */
	padding: 0;
	margin: 0;

	font-family: poppins, sans-serif;
}

#home-page, #contact-info, .chair-centre{
	text-align: center;
}

#home-page img{
	margin-top: 13rem;
}

#home-page h1{
	padding: 10rem 0 .5rem 0;
	font-size: 3rem;
}

#home-page p{
	font-size: 1.5rem;
	padding-bottom: 7rem;
}

#home-page a{
	text-decoration: none;
	color: #9f7657;
	font-weight: 700;
	margin: 0 30rem 15rem 30rem;
	display: block;
	border: #9f7657 1px solid;
	padding: 1rem;
}

#chairs{
	background-color: #EFF0EA;
	padding: 2rem 2rem;
}
#chairs h1{
	font-size: 2rem;
	padding-top: 1rem;
}

.chairs-p-1{
	color: rgb(165, 165, 165);
	text-transform: uppercase;
}
.chairs-p-2{
	padding: 2rem 20rem;
}
.chair-img{
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.chair-img img{
	width: 100%;
}

.chair{
	margin-bottom: 2rem;
}

#sofa-chair{
	float: left;
    width: 33.3%;
    height: 280px;
	padding-right: .5rem;
}

#wooden-chair{
	
	float: left;
	width: 33.3%;
	height: 280px;
	padding-right: .5rem;
	padding-left: .5rem;
}

#bar-stool{
	float: right;
	width: 33.3%;
    height: 280px;
	padding-left: .5rem;
}

.number{
	font-size: 2rem;
	font-weight: 200;
	color: #a6a6a8
}

.chair-name{
	padding: 2rem 0;
	font-size: 1rem;
}


.details{
	padding-bottom: 2rem;
}

#contact-links a{
	text-decoration: none;
	color: #9f7657;
	padding: 0;
	font-weight: 700;
}

#contact-form{
	background-color: #3c3a47;
	color: white;
	padding: 3rem 30% 3rem 30%;
}

#contact-form div p{
	padding-bottom:.5rem;
	color: #949399;
	text-transform: uppercase;
	text-align: center;
}

#contact-form h1{
	text-align: center;
}

#contact-form div{
	padding: 0;
}
.inputs{
	padding: 1rem;
	width: 100%;
	background-color: #504e59;
	border: none;
	margin-bottom: 1rem;
}

button{
	padding: 0.5rem;
	width: 100%;
	background-color: transparent;
	color: white;
	border: 1px white solid;
	margin: 1rem 0;
}

.labels{
	text-align: start;
	padding: 0;
	text-transform: uppercase;
	color: #c4c4c7;
	font-size: .75rem;
}

#contact-form p{
	font-size: .75rem;
	color: #918f97;
	text-align: center;
}

#contact-info{
	padding: 10% 0 5% 0;
}

#header{
	text-transform: uppercase;
	padding-bottom: 2rem;
	color: #bfbfbf;
}

#phone-number{
	font-size: 2rem;
	padding-bottom: 2rem;
}

#address{
	color: #6d6b75;
	padding-bottom: 4rem;
}

.logos img{
	padding: 0 3rem 10rem 0;
}